<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @activity.date %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @activity.user.name, @activity.user %>
</p>

<p>
  <strong>Kind:</strong>
  <%= link_to @activity.kind.name, @activity.kind %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @activity.distance %>
</p>

<p>
  <strong>Time:</strong>
  <%= @activity.time %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
